<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, user-scalable=no"
        name="viewport">
  <title>스마트폰2</title>
  <link href="./style/style.css" rel="stylesheet">
</head>
<body>
<header id="header">
  <div id="header_wrap">
    <div class="logo_wrap">
      <a alt="menu" class="menu" href="#none"><img src="img/menu.png"/></a>
      <a alt="logo" class="logo" href="#none">mobile logo</a>
      <a alt="myinfo" class="myInfo" href="#none"><img src="img/myinfo.png"/></a>
    </div>
  </div>

  <div id="search">
    <input type="text"/>
    <a href="#none"><img src="img/search.png"/></a>
  </div>

</header>

<div id="lnb">
  <ul>
    <li><a href="#none">lnb1</a></li>
    <li><a href="#none">lnb2</a></li>
    <li><a href="#none">lnb3</a></li>
    <li><a href="#none">lnb4</a></li>
    <li><a href="#none">lnb5</a></li>
    <li><a href="#none">lnb6</a></li>
  </ul>
</div>

<section id="section">

  <div id="section_content_01">
    <div class="row">
      <div><img src="http://www.sba.seoul.kr/kr/images/index/visual16.jpg"></div>
      <div><img src="http://www.sba.seoul.kr/kr/images/index/visual15.jpg"/></div>
    </div>
    <div class="row">
      <div><img src="http://www.sba.seoul.kr/kr/images/index/visual14.jpg"></div>
      <div><img src="http://www.sba.seoul.kr/kr/images/index/visual13.jpg"></div>
    </div>
    <div class="row">
      <div><img src="http://www.sba.seoul.kr/kr/images/index/visual12.jpg"></div>
      <div><img src="http://www.sba.seoul.kr/kr/images/index/visual1.jpg"></div>
    </div>
  </div>

  <div id="section_content_02">
    <ul>
      <li><a href="#none">중소기업 지원업무의 전문성과 효율성을 확보하고 중소기업에 대한 기술, 경영, 인력 등의 종합지원체계를 구축함으로써 중소기업의 경쟁력 제고를 위해 설립된 서울산업진흥원은
        중소기업의자생력을 키우고 안정적인 경영여건을 조성하기 위하여 끊임없이 노력하고 있습니다. </a></li>
      <li><a href="#none">서울산업진흥원은 서울특별시에 소재하고 있는 중소기업에 대한 종합적이고 체계적인 지원사업을 통하여 중소기업의 경영여건 개선과 경쟁력강화에 기여함을 목적으로 지역균형개발 및
        지방중소기업육성에 관한 법률 제49조와 동법 시행령 제63조, 민법 제3장 및 서울산업진흥원 설립운영조례에 따라 설립되었습니다. </a></li>
      <li><a href="#none">K-패션 오사카 2014 추진 관련 업무 협력 </a></li>
      <li><a href="#none">KBS미디어와 형설EMJ가 구축한 이러닝 콘텐츠 교육포털사이트[KBS 방송아카데미 온라인 평생교육원] 에 e창업스쿨 콘텐츠 제공 </a></li>
      <li><a href="#none">서울지역 중소기업 육성 및 청년일자리 창출을 위한 협력 등 </a></li>
    </ul>
  </div>

  <div id="section_content_03">
    <ul>
      <li>
        <p class="img"><a href="#none"><img src="img/100img.png"/></a></p>
        <p class="txt">
          <a href="#none">
            <span>서울산업진흥원</span>
            <span>중소기업 지원업무의 전문성과 효율성을 확보하고 중소기업에 대한 기술, 경영, 인력 등의 종합지원체계를</span>
          </a>
        </p>
      </li>
      <li>
        <p class="img"><a href="#none"><img src="img/100img.png"/></a></p>
        <p class="txt">
          <a href="#none">
            <span>서울산업진흥원</span>
            <span>중소기업 지원업무의 전문성과 효율성을 확보하고 중소기업에 대한 기술, 경영, 인력 등의 종합지원체계를</span>
          </a>
        </p>
      </li>
      <li>
        <p class="img"><a href="#none"><img src="img/100img.png"/></a></p>
        <p class="txt">
          <a href="#none">
            <span>서울산업진흥원</span>
            <span>중소기업 지원업무의 전문성과 효율성을 확보하고 중소기업에 대한 기술, 경영, 인력 등의 종합지원체계를</span>
          </a>
        </p>
      </li>
    </ul>
  </div>
</section>

<footer id="footer">
  <div id="footer_wrap">
    <p><img alt="서울산업진흥원" src="http://www.sba.seoul.kr/kr/images/footer/f_logo.png"></p>
    <p>121-904 서울 마포구 월드컵북로 400(상암동)</p>
  </div>
</footer>

</body>
</html>
