<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">

  <link href="reset.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <title>한솔</title>
</head>
<body>
<a href="#c" class="skip">본문바로가기</a>
<header>
  <h1><a href="#a">한솔홈데코</a></h1>
  <h2 class="hide">대메뉴</h2><!-- 보이지 않는 요소라도 제목기재 웹접근성-->
  <nav class="lnb">
    <ul>
      <li><a href=""><span>제품정보</span></a></li>
      <li><a href=""><span>시공사례</span></a></li>
      <li><a href=""><span>고객센터</span></a></li>
      <li><a href=""><span>기업소개</span></a></li>
      <li><a href=""><span>사업분야</span></a></li>
    </ul>
  </nav>

  <h2 class="hide">관련서비스</h2><!-- 보이지 않는 요소라도 제목기재 웹접근성-->
  <nav class="spot">
    <ul>
      <li><a href="">제품찾기</a></li>
      <li><a href="">SITEMAP</a></li>
      <li><a href="">BLOG</a></li>
    </ul>
  </nav>
</header>
<!--슬라이드 이미지-->
<section class="visual">
  <h2 class="hide">광고영역</h2>
  <a href="#a" class="prev">이전</a>
  <a href="#a" class="next">다음</a>
  <div class="control">
    <div>
      <div>
        <a href="#a" class="play on">시작</a>
        <a href="#a" class="pause">일시정지</a>
      </div>
      <ul>
        <li class="on"><a href="#a">배너1</a></li>
        <li><a href="#a">배너2</a></li>
        <li><a href="#a">배너3</a></li>
        <li><a href="#a">배너4</a></li>
        <li><a href="#a">배너5</a></li>
        <li><a href="#a">배너5</a></li>
      </ul>
    </div>
  </div>
  <div class="con">
    <div class="slide">
      <div class="txt">
        가구소재에서 가구소재에서 <br>
        가구소재에서
        <p>한솔홈데코 편리하고~~ 행복한 공간~~</p>
      </div>
    </div>
  </div>
</section>

<!--제품정보-->
<section class="product">
  <h2 class="hide">제품정보</h2>
  <ul>
    <li><a href="#a">바닥재</a></li>
    <li><a href="#a">벽면재</a></li>
    <li><a href="#a">도어재</a></li>
    <li><a href="#a">몰딩재</a></li>
    <li><a href="#a">시트재</a></li>
    <li><a href="#a">가구재</a></li>
  </ul>
</section>

</body>
</html>
