<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">

  <link href="reset.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <title>한솔</title>
</head>
<body>
<a href="#c" class="skip">본문바로가기</a>
<header>
  <h1><a href="#a">한솔홈데코</a></h1>
  <h2>대메뉴</h2><!-- 보이지 않는 요소라도 제목기재 웹접근성-->
  <nav>
    <ul>
      <li><a href="">제품정보</a></li>
      <li><a href="">시공사례</a></li>
      <li><a href="">고객센터</a></li>
      <li><a href="">기업소개</a></li>
      <li><a href="">사업분야</a></li>
    </ul>
  </nav>

  <h2>관련서비스</h2><!-- 보이지 않는 요소라도 제목기재 웹접근성-->
  <nav class="spot">
    <ul>
      <li><a href="">제품찾기</a></li>
      <li><a href="">STIEMAP</a></li>
      <li><a href="">BLOG</a></li>
    </ul>
  </nav>
</header>
</body>
</html>
