.skip {
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: black;
    color: white;
    text-align: center;
    font-size: 14px;
    transition: all .5s;
}

.skip:focus {
    top: 0
}

header {
    text-align: center;
    height: 81px;
}

header h1 {
    position: absolute;
    left: 50px;
    top: 0;
    padding-top: 14px;
}

header h1 a { /*클릭가능한 요소크기를 설정*/
    display: block;
    width: 110px;
    height: 48px;
    background: #1BBC9B;
    /*background: url("") no-repeat ;*/

}

.hide {
    position: absolute;
    left: 5000px;
}

header .spot {
    position: absolute;
    right: 50px;
    top: 0;
}

header .lnb li {
    display: inline-block; /* 중앙정렬을 위해 속성을 inline을 넣었지만, (개행)여백이 생김*/
}

header .lnb li a { /*클릭할수있는 요소를 넓힌다.*/
    display: block;
    height: 81px;
    padding: 0 35px;
    font-size: 17px;
    color: #333;
    line-height: 81px;
}

header .lnb li a:hover {
    color: #2d1152;
    font-weight: bold;
}

header .lnb li a span {
    position: relative;
}

header .lnb li a:hover span:after {
    position: absolute;
    left: 0;
    bottom: -9px;
    width: 100%;
    height: 1px;
    content: '';
    display: block;
    background: #2d1152;
}

header .spot li {
    position: relative;
    float: left;
}

/* nav li 사이 세로줄 */
header .spot li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 7px;
    background: #ccc;
    transform: translateY(-50%);
}

header .spot li a {
    display: block;
    height: 81px;
    padding: 0 10px;
    line-height: 81px;
}

header .spot li:last-child a {
    padding-right: 0;
}

header .spot li:first-child:after {
    display: none;
}

/* 비주얼 영역 */
.visual {
    padding: 0 50px;
}

.visual .con > div{
    height: 640px;
}

.visual .con .slide {
    background: url("images/image.jpg") no-repeat center;
}

