body {
    min-width: 1280px;
}

.skip {
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: black;
    color: white;
    text-align: center;
    font-size: 14px;
    transition: all .5s;
}

.skip:focus {
    top: 0
}

header {
    position: relative; /* nav 부분의 포지션이 right 기준이라 부모요소인 header에 포지션 속성 설정*/
    text-align: center;
    height: 81px;
}

header h1 {
    position: absolute;
    left: 50px;
    top: 0;
    padding-top: 14px;
}

header h1 a { /*클릭가능한 요소크기를 설정*/
    display: block;
    width: 110px;
    height: 48px;
    background: #1BBC9B;
    /*background: url("") no-repeat ;*/

}

.hide {
    position: absolute;
    left: 5000px;
}

header .spot {
    position: absolute;
    right: 50px;
    top: 0;
}

header .lnb li {
    display: inline-block; /* 중앙정렬을 위해 속성을 inline을 넣었지만, (개행)여백이 생김*/
}

header .lnb li a { /*클릭할수있는 요소를 넓힌다.*/
    display: block;
    height: 81px;
    padding: 0 35px;
    font-size: 17px;
    color: #333;
    line-height: 81px;
}

header .lnb li a:hover {
    color: #2d1152;
    font-weight: bold;
}

header .lnb li a span {
    position: relative;
}

header .lnb li a:hover span:after {
    position: absolute;
    left: 0;
    bottom: -9px;
    width: 100%;
    height: 1px;
    content: '';
    display: block;
    background: #2d1152;
}

header .spot li {
    position: relative;
    float: left;
}

/* nav li 사이 세로줄 */
header .spot li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 7px;
    background: #ccc;
    transform: translateY(-50%);
}

header .spot li a {
    display: block;
    height: 81px;
    padding: 0 10px;
    line-height: 81px;
}

header .spot li:last-child a {
    padding-right: 0;
}

header .spot li:first-child:after {
    display: none;
}

/* 비주얼 영역 */
.visual {
    position: relative;
    padding: 0 50px;
}

.visual .next, .visual .prev {
    display: block;
    position: absolute;
    top: 50%;
    width: 25px;
    height: 47px;
    transform: translateY(-50%);
    color: white;
    /*color: transparent; 투명컬러*/
    /*background: url("");*/
}

.visual .prev {
    left: 82px;
    /*background-position: -128px -60px;*/
}

.visual .next {
    right: 82px;
    /*background-position: -158px -60px;*/
}

.visual .control {
    position: absolute;
    left: 0;
    bottom: 55px;
    text-align: center;
    width: 100%;
}

.visual .control > div {
    display: inline-block;
    position: relative;
    padding: 0 45px 0 0;

}

.visual .control > div > div {
    position: absolute;
    right: 0;
}

.visual .control > div > div a {
    display: inline-block;
    width: 8px;
    height: 9px;
    overflow: hidden;
    margin: 0 0 0 7px;
}

.visual .control > div > div a.on {
    opacity: 1;
}

.visual .control > div > div a.play {
    /*background: url("");*/ /*이미지*/
    /*background-position: ;*/
}

.visual .control > div > div a.pause {
    /*background: url("");*//*이미지*/
    /*background-position: ;*/
}

.visual .control ul {
    display: inline-block;
    font-size: 0; /* inline-block로 바뀌면서 개행이 자동으로 여백이 들어가 그걸 없앰*/
    position: relative; /* 시작,정지와 위치 맞춤 */
    top: -7px;
}

.visual .control li {
    display: inline-block; /* 부모의 text-align : center로 중앙정렬*/
    padding: 0 3px;
}

.visual .control li.on a {
    background-color: #fff;
}

.visual .control li a {
    display: block;
    width: 50px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.5);
}

.visual .con > div {
    height: 640px;
}

.visual .con .slide {
    background: url("images/image.jpg") no-repeat center;
    color: #fff;
    font-size: 32px;
    line-height: 46px;
}

.visual .con .slide p {
    padding: 19px 0 0;
    font-size: 20px;
    line-height: 100%;
}

.visual .con .slide .txt {
    position: absolute;
    left: 50%;
    top: 175px;
}


.product a {
    display: block;
    color: #292929;
    font-size: 15px;
}

.product a:hover {
    color: #ff6469;
    font-weight: bold;
}

/* 이미지를 before 로 백그라운드 이미지 */
.product a:before {
    display: block; /* 가로세로 넣기위해*/
    content: ''; /* 가상의 inline 이라 기본적으로 배경을 안보임*/
    background: url("images/product.jpg") no-repeat;
    width: 64px;
    height: 52px;
}

.product li:nth-child(1) a:before {
    /*스프라이드 이미지위치지정*/
    /*background-position: 1px 1px;*/
}

