<!DOCTYPE html>
<html>
  <head>
    <title>SimpleShop</title>
    <meta charset="utf-8" />
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <div class="header">
    <a id="logo" href="#">
      <img src="images/logo.png" alt="" height="20px">
    </a>
      <ul class="menu">
        <li><a href="#">Contact</a></li>
        <li><a>Shop</a></li>
        <li><a>Cart</a></li>
        <li><a>Login</a></li>
      </ul>
  </div>

  <div class="hero_header"></div>

  <div class="container">
    <div class="content">
      <div class="title">
      <h3>Our New Products</h3>
      </div>

      <div class="products">
        <a href="#logo">
        <div class="product">
          <img src="images/sunglasses.jpg" alt="">
          <p class="product_name">선글라스</p>
          <p class="product_price">40000원</p>
        </div>
        </a>

        <div class="product">
          <img src="images/sunglasses.jpg" alt="">
          <p class="product_name">선글라스</p>
          <p class="product_price">40000원</p>
        </div>

        <div class="product">
          <img src="images/sunglasses.jpg" alt="">
          <p class="product_name">선글라스</p>
          <p class="product_price">40000원</p>
        </div>

        <div class="product">
          <img src="images/sunglasses.jpg" alt="">
          <p class="product_name">선글라스</p>
          <p class="product_price">40000원</p>
        </div>

        <div class="product">
          <img src="images/sunglasses.jpg" alt="">
          <p class="product_name">선글라스</p>
          <p class="product_price">40000원</p>
        </div>

        <div class="product">
          <img src="images/sunglasses.jpg" alt="">
          <p class="product_name">선글라스</p>
          <p class="product_price">40000원</p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="footer">
    <img src="images/facebook.png" alt="">
    <img src="images/instagram.png" alt="">
    <img src="images/twitter.png" alt="">
  </div>

  <body>
  </body>
</html>
