<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="./style/style.css" rel="stylesheet">
  <title>스타일</title>
</head>
<body>

<div class="container">

  <div class="subject">
    <div class="title">
      제목
    </div>
    <div class="tabs">
      <ul>
        <li>탭1</li>
        <li>탭2</li>
      </ul>
    </div>
  </div>
  <div class="contents">
    <div class="product">
      <ul>
        <li>
          <img src="https://usercontents-c.styleshare.kr/images/41316547/original" alt="">
          <div class="price"><span>10000원</span></div>
        </li>
        <li>
          <img src="https://usercontents-c.styleshare.kr/images/41316547/original" alt="">
          <div class="price"><span>10000원</span></div>
        </li>
        <li>
          <img src="https://usercontents-c.styleshare.kr/images/41316547/original" alt="">
          <div class="price"><span>10000원</span></div>
        </li>
      </ul>
    </div>

    <div class="mall">
      <ul>
        <li>
          <div class="mall_order">1</div>
          <div class="mall_image"><img src="https://usercontents-c.styleshare.kr/images/41316547/original" alt=""></div>
          <div class="text">
            <p>이름</p>
            <p>내용</p>
          </div>
        </li>
      </ul>

    </div>

  </div>
  <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
  </div>

</div>
</body>
</html>
