<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>스타일</title>
  <link href="//necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet">
  <link href="./style/style.css" rel="stylesheet">
</head>
<body>

<div class="container">
<div class="subject">
  <div class="title">
    제목
  </div>
  <div class="tabs">
    <ul>
      <li>탭1</li>
      <li>탭2</li>
    </ul>
  </div>
</div>
  <div class="contents">
    <div class="product">
      <ul>
        <li><img src="https://usercontents-c.styleshare.kr/images/41316547/original" alt=""></li>
        <li><img src="https://usercontents-c.styleshare.kr/images/41316547/original" alt=""></li>
        <li><img src="https://usercontents-c.styleshare.kr/images/41316547/original" alt=""></li>
      </ul>
      <ul>
        <li><img src="https://usercontents-c.styleshare.kr/images/41316547/original" alt=""></li>
        <li><img src="https://usercontents-c.styleshare.kr/images/41316547/original" alt=""></li>
        <li><img src="https://usercontents-c.styleshare.kr/images/41316547/original" alt=""></li>
      </ul>
      <ul>
        <li><img src="https://usercontents-c.styleshare.kr/images/41316547/original" alt=""></li>
        <li><img src="https://usercontents-c.styleshare.kr/images/41316547/original" alt=""></li>
        <li><img src="https://usercontents-c.styleshare.kr/images/41316547/original" alt=""></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
