<!DOCTYPE html>
<html>
<head>
  <title>코딩의 민족</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="header">
  <h1>코딩의 민족</h1>
  <h2>넌 코딩할 때가 제일 이뻐</h2>
</div>

<div class="grid">
<div class="menu_card">
  <img src="images/chicken.jpg" alt="" >
  <div class="content">
    <h3> 코딩의빠진닭</h3>
    <p>주머니가 가벼운 당신의 마음까지 생각한 작한 가격!</p>
    <a href="#">바로 결제</a>
  </div>
</div>

<div class="menu_card">
  <img src="images/chicken.jpg" alt="" >
  <div class="content">
    <h3> 코딩의빠진닭</h3>
    <p>주머니가 가벼운 당신의 마음까지 생각한 작한 가격!</p>
    <a href="#">바로 결제</a>
  </div>
</div>

<div class="menu_card">
  <img src="images/chicken.jpg" alt="" >
  <div class="content">
    <h3> 코딩의빠진닭</h3>
    <p>주머니가 가벼운 당신의 마음까지 생각한 작한 가격!</p>
    <a href="#">바로 결제</a>
  </div>
</div>

<div class="menu_card">
  <img src="images/chicken.jpg" alt="" >
  <div class="content">
    <h3> 코딩의빠진닭</h3>
    <p>주머니가 가벼운 당신의 마음까지 생각한 작한 가격!</p>
    <a href="#">바로 결제</a>
  </div>
</div>

</div>
</body>
</html>