body {
    padding: 50px;
}

main {
    width: 1196px;
    margin: 0 auto;
}

.event_list ul {
    display: flex;
    flex-flow: row wrap; /*가로배치, wrap 감사써 떨어지게 함*/
    align-content: flex-start;
}

.event_list li {
    flex: 0 1 25%;
    padding: 0 0 34px; /*하단여백*/
}

.event_list li a {
    display: block; /* 탭으로 이동시 전체로 보이기위해*/
    position: relative;
    line-height: 1; /*줄간격초기화해서 다 붙게 만듦*/
    width: 271px;
    height: 382px;
    border-bottom: 1px solid #ddd;
}

.event_list li a .img { /*이미지가 잘 나올수있게 img 부모div에 크기넣어줌*/
    width: 271px;
    height: 272px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid black;
}

.event_list li a .img img { /*div 안 이미지 중앙 정렬*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.event_list li .info {
    padding: 29px 10px 0;
}

.event_list li a .info strong {
    display: block; /*가로사이즈를 넣기위해*/
    width: 100%;
    overflow: hidden; /*글씨초과 짜름*/
    white-space: nowrap; /*글자개행 없이 한줄로*/
    text-overflow: ellipsis; /*점점점*/
    font-size: 18px;
    color: #222;
}

.event_list li a p {
    padding: 20px 0 0;
    font-size: 13px;
    color: #888;
}

.event_list li a span {
    color: red;
}

.event_list li a em {
    position: absolute;
    right: 9px;
    top: 9px;
    z-index: 2;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    text-align: center;
    line-height: 60px;
}


.paging {
    padding: 28px 0 60px;
}

.paging ul {
    display: flex;
    justify-content: center; /*중앙정렬 x축정렬*/
    /*align-content: y축;*/
}

.paging a {
    display: block;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    font-size: 15px;
    color: #555;
}

.paging a:hover,
.paging a.on {
    background: #ed1846;
    color: #fff;
}

.paging li {
    margin: 0 7px
}

.paging .first {
    margin: 0 16px 0 0;
}

.paging .prev {
    margin: 0 6px 0 0;
}

.paging .next {
    margin: 0 0 0 6px;
}

.paging .last {
    margin: 0 0 0 16px;
}

.hide {
    display: block;
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.search {
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    font-size: 0; /*select 와 input 틈을 매꿔줌*/
}

.search * {
    margin: 0 5px;
    height: 53px;
}

.search select {
    width: 148px;
    height: 53px;
    border: 1px solid #ccc
}

.search input {
    width: 258px;
    height: 53px;
    border: 1px solid #ccc
}

.search button {
    width: 150px;
    height: 53px;
}



