* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial,sans-serif;
}

.col {
  float: left;
}

.navbar {
  height: 60px;
  width: 100%;
  color:white;
  background-color: #838383;
  line-height: 60px;
  padding-left: 60px;
}

.banner {
  width: 100%;
  height: 350px;
  background-color: orange;
  background-image: url("../images/main_img.jpg");
  background-size: cover;
  background-position: center center;
}

.info {
  width: 100%;
  height: 320px;
}

.info .helper{
  display: inline-block;
  height: 100%;
  background-color: blue;
  vertical-align: middle;
}

.info .info_container{
  display: inline-block;
  background-color: orange;
  width: 300px;
  vertical-align: middle;
  padding-left: 30px;
  padding-right: 30px;
}

.info .label{
  font-size: 16px;
  color: #4A4A4A;
}

.info h2{
  font-size: 20px;
  color: #1B1B1B;
  margin-top: 10px;
  margin-bottom: 30px;
}

.info p{
  font-size: 16px;
  color: #7a7a7a;
}

.img-div1 {
  width: 100%;
  height: 385px;
  background-color: green;
  background-image: url("../images/img1.jpg");
  background-size: cover;
  background-position: center top;
}

.img-div2 {
  width: 100%;
  height: 200px;
  background-color: blue;
  background-image: url("../images/img2.jpg");
  background-size: cover;
  background-position: center top;
}

.img-div2 a{
  color:white;
}

.img-div3 {
  width: 100%;
  height: 200px;
  background-color: purple;
  background-image: url("../images/img3.jpg");
  background-size: cover;
  background-position: center top;
}


/*@media (max-width: 767px) {*/
/*  .div2 {*/
/*    height: 350px;*/
/*  }*/

/*  .div3 {*/
/*    height: 320px;*/
/*  }*/

/*  .div4 {*/
/*    height: 385px;*/
/*  }*/

/*  .div5 {*/
/*    height: 200px;*/
/*  }*/

/*  .div6 {*/
/*    height: 200px;*/
/*  }*/

/*}*/

@media (min-width: 768px ) and (max-width: 991px) {
  .banner {
    height: 562px;
    width: 100%;
  }

  .info {
    height: 282px;
    width: 100%;
  }

  .info .info_container{
    padding-left: 65px;
    padding-right: 65px;
  }

  .img-div1 {
    width: 50%;
    height: 360px;
  }

  .img-div2 {
    height: 180px;
    width: 50%;
  }

  .img-div3 {
    height: 180px;
    width: 50%;
  }
}

@media (min-width: 992px ) {
  .banner {
    height: 700px;
    width: 50%;
  }

  .info {
    height: 350px;
    width: 50%;
  }

  .img-div1 {
    width: 25%;
    height: 350px;
  }

  .img-div2 {
    width: 25%;
    height: 175px;
  }

  .img-div3 {
    width: 25%;
    height: 175px;
  }
}